.navbar {
  height: 100px;
  .wrapper {
    max-width: 1366px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    span {
      font-weight: bold;
      text-transform: uppercase;
      font-size: 18px;
    }
    .social {
      display: flex;
      gap: 20px;
      img {
        width: 18px;
        height: 18px;
      }
    }
  }
}
